<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.offer.dao.AreaDAO">
	<resultMap id="areaMapper" type="org.offer.bean.AreaBean">
			<result property="id" column="id" />
			<result property="areaName" column="area_name" />
			<result property="areaLevel" column="area_level" />
			<result property="parentId" column="parent_id" />
			<result property="cityStandard" column="city_standard" />
			<result property="areaId1" column="area_id1" />
			<result property="areaId2" column="area_id2" />
			<result property="areaName1" column="area_name1" />
			<result property="areaName2" column="area_name2" />
			<result property="isDelete" column="is_delete" />
			<result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
			<result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<select id="queryById" resultMap="areaMapper" >
		select * from area
		where id = #{id}
	</select>

	<sql id="count_Tail">
		select count(1) from area record
	</sql>

	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.rows}
	</sql>

	<sql id="selectAllColumns">
		<![CDATA[
		SELECT
			 id, 
			 area_name, 
			 area_level, 
			 parent_id, 
			 city_standard, 
			 area_id1, 
			 area_id2, 
			 area_name1, 
			 area_name2, 
			 is_delete, 
			 create_date, 
			 update_date 
			FROM area record
		]]>
	</sql>

	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
				<if test = "entity.id != null and entity.id != ''">
					<![CDATA[ and record.id  = #{entity.id }]]>
				</if>
				<if test = "entity.areaName != null and entity.areaName != ''">
					<![CDATA[ and record.area_name  = #{entity.areaName }]]>
				</if>
				<if test = "entity.areaLevel != null and entity.areaLevel != ''">
					<![CDATA[ and record.area_level  = #{entity.areaLevel }]]>
				</if>
				<if test = "entity.parentId != null and entity.parentId != ''">
					<![CDATA[ and record.parent_id  = #{entity.parentId }]]>
				</if>
				<if test = "entity.cityStandard != null and entity.cityStandard != ''">
					<![CDATA[ and record.city_standard  = #{entity.cityStandard }]]>
				</if>
				<if test = "entity.areaId1 != null and entity.areaId1 != ''">
					<![CDATA[ and record.area_id1  = #{entity.areaId1 }]]>
				</if>
				<if test = "entity.areaId2 != null and entity.areaId2 != ''">
					<![CDATA[ and record.area_id2  = #{entity.areaId2 }]]>
				</if>
				<if test = "entity.areaName1 != null and entity.areaName1 != ''">
					<![CDATA[ and record.area_name1  = #{entity.areaName1 }]]>
				</if>
				<if test = "entity.areaName2 != null and entity.areaName2 != ''">
					<![CDATA[ and record.area_name2  = #{entity.areaName2 }]]>
				</if>
				<if test = "entity.isDelete != null and entity.isDelete != ''">
					<![CDATA[ and record.is_delete  = #{entity.isDelete }]]>
				</if>
				<if test = "entity.createDate != null and entity.createDate != ''">
					<![CDATA[ and record.create_date  = #{entity.createDate }]]>
				</if>
				<if test = "entity.updateDate != null and entity.updateDate != ''">
					<![CDATA[ and record.update_date  = #{entity.updateDate }]]>
				</if>
		</if>
	</sql>

	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="org.offer.bean.AreaBean">
		insert into area(
				id,
				area_name,
				area_level,
				parent_id,
				city_standard,
				area_id1,
				area_id2,
				area_name1,
				area_name2,
				is_delete,
				create_date,
				update_date
		)values(
				#{id},
				#{areaName},
				#{areaLevel},
				#{parentId},
				#{cityStandard},
				#{areaId1},
				#{areaId2},
				#{areaName1},
				#{areaName2},
				#{isDelete},
				#{createDate},
				#{updateDate}
		)
	</insert>
	
	<update id="update">
		update area record
		<set>
				<if test = "id != null and id != ''">
					record.id = #{id},
				</if>
				<if test = "areaName != null and areaName != ''">
					record.area_name = #{areaName},
				</if>
				<if test = "areaLevel != null and areaLevel != ''">
					record.area_level = #{areaLevel},
				</if>
				<if test = "parentId != null and parentId != ''">
					record.parent_id = #{parentId},
				</if>
				<if test = "cityStandard != null and cityStandard != ''">
					record.city_standard = #{cityStandard},
				</if>
				<if test = "areaId1 != null and areaId1 != ''">
					record.area_id1 = #{areaId1},
				</if>
				<if test = "areaId2 != null and areaId2 != ''">
					record.area_id2 = #{areaId2},
				</if>
				<if test = "areaName1 != null and areaName1 != ''">
					record.area_name1 = #{areaName1},
				</if>
				<if test = "areaName2 != null and areaName2 != ''">
					record.area_name2 = #{areaName2},
				</if>
				<if test = "isDelete != null and isDelete != ''">
					record.is_delete = #{isDelete},
				</if>
				<if test = "createDate != null">
					record.create_date = #{createDate,jdbcType=TIMESTAMP},
				</if>
				<if test = "updateDate != null">
					record.update_date = #{updateDate,jdbcType=TIMESTAMP},
				</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from area where id = #{id}
	</delete>
	
	<select id="queryCount" resultType="java.lang.Long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>
	
	<select id="queryList" resultMap="areaMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
	</select>
</mapper>